.download{
    padding-left: 80px;
    height: 800px;
    background: url(../images/Zasób\ 5ikonkismartpanel.png);
    background-size: 500px auto;
    background-repeat: no-repeat;
    background-position: right;
}



.download__title{
    font-size: 80px;
    font-weight: bold;
    margin-top: 20px;
}

.donwload__description{
    font-size: 35px;
    margin-top: 10px;
}



button{

   
    background: none;
    color: #006451;
    border: 2px solid #006451;
    width: 480px;
    height: 60px;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    transition-duration: 0.3s;
    transition-property: color background;
    
   
}
button:hover{
    background: #006451;
    color: white;
}

.active__button{
    background: white;
    border-color: white;
}
.download__section{
    margin-top: 50px;
}
.download__block{
  
    position: relative;

}
.block__content{
    position: absolute;
    display: flex;
}
.list{
    background: rgba(255, 0, 0, 0);
    width: 50vw;
   
    overflow: hidden;
    animation-name: lists;
    animation-duration: 2s;
   
}
.active__list{
    height: auto;
}
.block2{
    top: 100px;
}
.block3{
    top: 200px;
}
.block4{
    top: 300px;
}

.list ol{
    padding: 10px 0px 20px 40px;
    background: white;
}
.list li{
    margin: 10px 0px;
}
.list a{
    text-decoration: none;
    color: black;
    font-size: 22px;
}
@keyframes lists{
    0%{
        height: 0;
    }

    100%{
        height: 800px;
    }
}

@media (max-width: 1000px) {

.download{
    background: none;
}
.download__title{
    text-align: center;
}
.donwload__description{
    text-align: center;
}
.block__content{
    display: block;
    
}
  .block__content  {
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 90%;
    text-align: center;
  }
  .block__content button{
z-index: -1;
  }
  .download{
      padding: 0;
  }
  .list{
      margin: 0 auto;
      width: 90vw;
      position: relative;
      z-index: 1;
      text-align: left;
  }

   
}



@media (max-width: 560px) {
    .download__title{
        font-size: 10vw;
    }
    .donwload__description{
        font-size: 5vw;
    }

    .download button{
        width: 90%;
    }

   
}
@media (max-width: 460px) {
    

   
}

@media (max-width: 400px) {
   
}


@media (max-width: 520px) {
    .download__title {
      font-size: 10vw;
    }
    .donwload__description{
        font-size: 5vw;
    }
    .download__section{
        margin-top: 5vw;
    }
    
}

@media (max-width: 380px) {
    .download button{
        font-size: 5vw;
        height: 20vw;

    }
    .list a{
        font-size: 5vw;
    }
}