.download{
    padding-left: 80px;
    height: 800px;
    background: url(../images/Zasób\ 5ikonkismartpanel.png);
    background-size: 500px auto;
    background-repeat: no-repeat;
    background-position: 800px 200px;
}

.download__title{
    font-size: 80px;
    font-weight: bold;
    margin-top: 20px;
}

.donwload__description{
    font-size: 35px;
    margin-top: 10px;
}

.download__bottom{
   margin-top: 50px;
}

button{

   
    background: none;
    color: #006451;
    border: 2px solid #006451;
    width: 480px;
    height: 60px;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    transition-duration: 0.3s;
    transition-property: color background;
   
}
button:hover{
    background: #006451;
    color: white;
}
.download__bottom{
    position: relative;
}

.download__forestia, .download__huntonit{
margin-top: 50px;
display: flex;
position: relative;
height: 400px;
}
.download__huntonit{
    top: -350px;
   
}
.forestia__button, .huntonit__button{
    position: relative;
}
.forestia__list, .huntonit__list {
    background: rgba(141, 63, 63, 0);
    height: 0px;
   overflow: hidden;
    
    width: 700px;
  
    transition: height 1s;
}


.active__list{
    height: 400px;
}

.active__button{
    background: white;
    border-color: white;
}

@media (max-width: 840px) {
.download{
    padding-left: 0;
    text-align: center;
    height: 500px;
}

.download__forestia, .download__huntonit{
    display: block;
    }
    .forestia__list, .huntonit__list {
       display: none;
    }

   
}

@media (max-width: 520px) {
    .download__title {
      font-size: 10vw;
    }
    .donwload__description{
        font-size: 8vw;
    }
    .forestia__button, .huntonit__button{
       width: 90%;
       font-size: 6vw;
    }
}