





.features{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
    margin-top: 100px;
}

.features a{
    text-decoration: none;
    color: black;
}

.features__block{
   
    width: 350px;
    height: 450px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: all 2s ease-in;
    -webkit-transition: all 1s;

}
.features__block:hover{
   background-size: 150%;
}
.features1{
    background-image: url(../images/features1.jpg);
    
}
.features2{
    background-image: url(../images/features2.jpg);
}
.features3{
    background-image: url(../images/features3.jpg);
}
.block__title{
    font-size: 40px;
   margin-top: 35px;
    text-align: center;
    padding:  20px;
   
}
.about{
    margin-top: 50px;
}
.about__top{
display: flex;


}
.top__title{
    font-size: 50px;

}
.top__line{
  
    width: 40%;
   display: flex;
   justify-content: center;
   align-items: center;
  
}
.about__line{
    margin: 0;
    background:  #006451;
    height: 2px;
    width: 80%;
}
.about__bot{
    background: url(../images/about.png) no-repeat bottom;
    background-size: 100%;
    height: 104vw;
}
.about__bot p{
    
  text-align: center;
  font-size: 20px;
   margin-top: 4vw;
   line-height: 32px;
   background: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0))
}
.sign{
    width: 280px;
    height: 135px;
    background: url(../images/podpis.png) no-repeat center;
    background-size: 100%;
    margin: -70px 80px 0px auto;
}


@media (max-width: 1300px) {
    .features{
        width: 95%;
    }
}


@media (max-width: 1200px) {
    .features__block{
        width: 28vw;
        height: 30vw;
    }
    .block__title{
        font-size: 3vw;
    }
    .about__bot{
       height: 107vw;
    }
}
@media (max-width: 1140px) {
    .sign{
        margin-right: 10px;
    }
}
@media (max-width: 1100px) {
    .about__bot p{
        font-size: 1.9vw;
    }

    .sign{
        width: 19.8vw;
        height: 10.3vw;
    }
}
@media (max-width: 1060px) {
    .about__bot{
        height: 117vw;
     }
}
@media (max-width: 1000px) {

    .features{
        display: block;
    }
    .features__block{
        width: 100%;
       
      
    }
    .block__title{
        font-size: 6vw;
        margin-top: 0px;
    }

    .features2{
        background-position-y:-180px; 
    }

    .about{
        width: 95%;
        margin: 20px auto;
    }

    .about__top{
        justify-content: space-between;
    }
    .top__line{
        width: 90%;
    }
    .top__title{
        white-space: nowrap;
    }

   
   

   
}

@media (max-width: 900px) {

.about__top{
    position: relative;
    display: block;
    height: 50px;
}

.top__line{
    width: 100%;
    position: absolute;
    height: 70px;
}

.about__line{
    width: 100%;
    
}

.top__title{
    text-align: center;
    position: absolute;
    height: 50px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    background: white;
    width: 350px;
 
}
.about__bot{
    height: 118vw;
}
}


@media (max-width: 800px) {
   .about__bot{
       height: 130vw;
   }
    .about__bot p{
        font-size: 2.5vw;
        margin-top: 5vw;
       
    }
    .about p br{
        display: none;
    }

    .sign{
        margin-top: 0px;
        width: 25vw;
        height: 15vw;
    }
}


@media (max-width: 770px) {

    .about__bot{
        height: 140vw;
    }
    .about__bot p {
        font-size: 20px;
    }
}


@media (max-width: 710px) {
    .about__bot{
        height: 150vw;
    }
}

@media (max-width: 670px) {
    .about__bot{
        height: 140vw;
    }
    .about__bot p{
        font-size:3vw;
        line-height: normal;
    }
}


@media (max-width: 565px) {
    .about{
        width: 100%;
    }
   
    .features{
        margin-top: 0;
    }
    .features2 {
        background-position-y: 20%;
    }
}

@media (max-width: 490px) {
    .top__title{
        font-size: 8vw;
        width: 60vw;
       
    }
    .top__line{
        height: 11vw;
    }
    .about{
        width: 100%;
    }
    .about__bot{
        height: 220vw;
    }
    .about__bot p{
        font-size:4.5vw;
        line-height: normal;
    }
    .sign{
        width: 35vw;
        height: 20vw;
    }
  
}


@media (max-width: 370px) {
  
}


@media (max-width: 320px) {
  
}