@keyframes modal {
    0%{
        opacity: 0;
     
       
    }

    100%{
        opacity: 1;
       
    }
}
.modal__container{
    background: rgba(0, 0, 0, 0.39);
    position: fixed;
    width: 100vw;
    height:100vh;
   top: 0px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    animation: modal;
    animation-duration: 0.5s;
}
.modal__active{
    display: flex;
}
.exit{
    width: 100px;
    height: 30px;
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
    font-weight: bold;
    background: white;
}

.modal{
    background: white;
    width: 90vw;
    height: 90vh;
    position: relative;
    
}

.black__line{
    height: 2px;
    background: black;
}
.walls4you button{
    border: 2px solid black;
    color: black;
    width: 200px;
}
.walls4you button:hover{
   
    color: rgb(255, 255, 255);
   background: black;
}
*{
    box-sizing: border-box;
}
.black__lineTop{
    margin-top: 50px;
    width: 70%;
    margin-left: auto;
}
.section1{
    border-right: 2px solid black;
    width: 95%;
    padding-bottom: 100px;
}
.section1__top{
    display: flex;
    align-items: center;
    height: 100px;
}
.section1__top p{
    font-size: 80px;
    display: flex;
    align-items: center;
    margin-left: 60px;
}
.section1__top span{
    font-size: 2em;
}
.top__logo{
    width: 200px;
    height: 50px;
    background: url(../images/forestia-logo.png) center no-repeat;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 40px;
    background-size: 100%;
}
.section1__mid{
    background: url(../images/walls4you/main.png) center no-repeat;
    background-size: 100%;
    color: white;
    font-size: 32px;
    text-align: right;
    width: 85%;
    height: 500px;
    margin-left: auto;
    margin-right: 40px;
}
.section1__mid p{
    padding: 20px;
}

.section1__bot{
    color: white;
    background: linear-gradient(to left, #4D4D4D, rgb(0, 0, 0));
    width: 900px;
    font-size: 30px;
    margin-top: -100px;
    position: relative;
    z-index: -1;
    
}
.section1__bot p{
    padding: 170px 40px 80px;
}

.black__lineMid{
    width: 90%;
    margin-left: 5%;
}

.section2{
 
    padding-top: 50px;
    width: 95%;
    border-left: 2px solid black;
    margin-left: 5%;
    padding-bottom: 180px;
}


.section2__top, .section2__bot{
    display: flex;
    justify-content: space-between
}
.black__lineLeft, .black__lineRight{
    width: 100px;
}
.top__left, .bot__right{
    font-size: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left__head, .right__head{
    font-size: 1.5em;
}
.top__left p, .top__left button, .top__left .black__line{
    margin-top: 25px;
}
.bot__right p, .bot__right button, .bot__right .black__line{
    margin-top: 25px;
}
.section2__top{
    height: 500px;
}
.top__left{
    padding-left: 40px;
}
.top__right{
    background: url(../images/walls4you/trend.png) center no-repeat;
    background-size: 100%;
    width: 50%;
}
.section2__bot{
    margin-top: 110px;
    height: 450px;
    margin-left: -5%;
}
.bot__left{
    width: 50%;
    background: url(../images/walls4you/classic.png) center no-repeat;
    background-size: 100%;
    position: relative;
    z-index: -1;
}
.bot__right{
    padding-right: 40px;
   
}
.black__lineRight, .right__button{
   
}


.black__lineBot{
    width: 95%;
    margin-left: auto;
}


.section3{
    width: 700px;
    height: 600px;
    background: url(../images/walls4you/basic.jpg)  no-repeat;
    background-position-y: -226px;
    background-size: 100%;
    text-align: center;
    font-size: 28px;
    margin-left: auto;
    margin-top: -100px;
}

.section3__line, .section3__description{
    margin-top: 40px;
}
.section3__line{
    width: 100px;
    margin-left: auto;
    margin-right: auto;

}

.section3__head{
    font-size: 1.5em;
    padding-top: 50px;
}
.section3__button{
    margin-top: 80px;
}

.section4{
    display: flex;
    font-size: 28px;
    margin-top: -250px;
}


.section4__black{
    background: linear-gradient(to top, #4D4D4D, rgb(0, 0, 0));
    color: white;
    position: relative;
    z-index: -1;
   
}
.section4__line{
    background: white;
    width: 200px;
}
.black__head{
    font-size: 1.5em;
    padding: 60px 40px;
}
.black__description{
    padding: 50px 80px 70px;
}

.white__description{
    padding: 272px 0px 0px 60px;
}
.white__description ul{
    line-height: 23px;
    padding: 20px;
}


.section5__head p{
    font-size: 80px;
display: flex;
align-items: center;
margin-left: 60px;
}

.section5__head span{
    font-size: 2em;
}
.section5__line{
width: 70%;
margin-top: -10px;
}
.section5__bot{
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
    align-items: center;
  
}
.section5__logo{
    width: 300px;
    height: 100px;
    background: url(../images/huntonit-logo.png) center no-repeat;
    background-size: 100%;

}
.section5 button{
    height: 80px;
    width: 600px;
    font-size: 25px;
}
@media (max-width: 1000px) {
    .section5__bot{
        display: block;
        text-align: center;
    }
   
    .section5 button{
        width: 90%;
    }
    .section5__logo{
        margin-left: auto;
        margin-right: auto;
    }
    .section5__line{
        margin: 5vw auto;
    }
}

@media (max-width: 952px) {
    .section4{
        margin-top: 0px;
        display: block;
    }
    .section3{
        margin-right: auto;
        margin-left: auto;
        height: 490px;
        width: 100%;
    }
    .white__description{
        padding: 30px 0 0 0;
        width: 70%;
        margin: 0 auto;

    }
}

@media (max-width: 896px) {
    .section1{
        border: none;
        width: 100%;
    }
    .section1__mid{
        width: 100%;
    }
    .section1__mid p{
        padding-right: 40px;
    }
    .section1__bot{
        width: 100%;
        margin-top: 0;
    }
    .section1__bot p{
        padding-top: 30px;
    }
    .section2{
        border: none;
        width: 100%;
        margin-left: 0;
        padding: 0;
    }
    .section3{
        margin-top: 5vw;
       
    }
    .black__lineBot{
        margin-top: 5vw;
        margin-right: auto;
        width: 90%;
    }
    .section2__top {
        display: block;
        height: auto;
    }
    .section2__bot{
        flex-direction: column-reverse;
        height: auto;
        margin: 0;
        margin-top: 5vw;
    }
    .top__right, .bot__left{
        height: 500px;
        width: 90%;
        margin: 0 auto;
        margin-top: 5vw;
        
    }
    .top__left, .bot__right{
        text-align: center;
        padding: 0 5px;
    }
    .black__lineRight, .right__button, .left__button, .black__lineLeft{
        margin: 0 auto;
    }
    
}

@media (max-width: 790px) {
.section1__mid{
    background-size: 800px;
}
}
@media (max-width: 700px) {
    .section1__top{
        flex-direction: column;
        height: auto;
    }
    .section1__top p{
        margin: 0 auto;
        font-size: 15vw;
    }
    .top__logo{
        margin: 0 auto;
    }
    .section1__mid{
        margin-top: 5vw;
    }
    .white__description ul{
        line-height: 41px;
       
    }
}

@media (max-width: 524px) {
    .black__description{
        padding: 50px 10px;
        padding-left: 30px;
    }
    .section5__head{
        text-align: center;
    }
    .section5__head p{
        font-size: 12vw;
        margin: 0 auto;
        width: 95%;
        justify-content: center;
      
    }
}


@media (max-width: 450px) {
    .section1{
        padding-bottom: 5vw;
    }
    .section1__mid p{
        padding: 0;
        text-align:  center;
    }
    .section1__mid{
        height: auto;
        background: none;
        padding: 20px 0;
        color: black;
        font-size: 23px;
    }
    .section1__bot{
        font-size: 23px;
        text-align: center;
    }
    .section1__bot p{
        padding: 20px;
    }
    .top__left, .bot__right, .section3, .section4__black{
        font-size: 23px;
    }
    .top__right, .bot__left{
        height: 88vw;
    }
    .section3__line, .section3__description, .section3__button{
        margin-top: 5vw;
    }
    .section3{
        background-size: 500px;
    }
}