.coop__head{
    width: 98%;
    text-align: right;
}

.coop__title{
    font-size: 80px;
    font-weight: bold
}

.coop__description{
    font-size: 25px;
    margin-top: 10px;
}

.coop__image{
 
    background: url(../images/wspolpraca.png) center no-repeat;
  background-position: center;
  background-size: 100%;
    margin-top: 20px;
    height: 45vw;
}

.coop__contact{
    color: white;
    font-size: 40px;
    float: right;
   
    margin-top: 20px;
    white-space: nowrap;
    margin-right: 40px;
    margin-top: 40px;
}
.contact__number{
    display: flex;
    align-items: center;
}
.coop__number{
    background: url(../images/teleWhite.png);
}
.coop__email{
    background: url(../images/mailWhite.png);
}
.contact__email{
    display: flex;
    align-items: center;
}
.icon{
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
}
.coop__contact--mobile{
        display: none;
}

@media (max-width: 700px) {
    .coop__head{
        width: 100%;
        text-align: center;
    }
    br{
        display: none;
    }
    .coop__title{
        font-size: 80px;
        font-weight: bold
    }
    .coop__description{
        font-size: 25px;
       padding: 15px;
       margin: 0;
       padding-top: 0;
    }
    .coop__image{
       background-size: contain;
       width: 100%;
       height: 50vw;
    }
    .coop__contact{
        display: none;
    }

    .coop__contact--mobile{
        display: block;
        color: black;
        float: none;
       margin-right: 0;
    }
    .coop__contact--mobile .coop__number{
        background: url(../images/teleBlack.png)
    }
    .coop__contact--mobile .coop__email{
        background: url(../images/mailBlack.png)
    }

    .coop__contact--mobile  .icon{
    
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 20px;
    }

    .contact__number, .contact__email{
        justify-content: center;
    }
    .coop__line--mobile{
        background: black;
        height: 2px;
        width: 50%;
        margin: 20px 0;

    }
    .coop__line--top{
        margin-right: 0;
        margin-left: auto;
    }
}


@media (max-width: 600px) {
    .coop__title{
        font-size: 9vw;
       
    }
    .coop__image{
        margin-top: 2vw;
    }

    .coop__description{
        font-size: 5vw;
       
    }
    .coop__contact {
        font-size: 5vw;
    }

    .coop__contact--mobile {
        margin-top: 2vw;
    }
    .icon{
        width: 5vw;
        height: 5vw;;
    }
}