@keyframes imageAnimation {
    0%{
        opacity: 0;
       transform: translateX(-100px);
       
    }

    100%{
        opacity: 1;
        transform: translateX(0px)
    }
}



.menu__left button:hover{
    background: rgb(163, 162, 162);
}


.menu__body{
    background: linear-gradient(to right,#4d4d4d,#000);
    color: white;
    display: flex;
    justify-content: space-between;
}
.menu__left{
    padding-left: 30px;
    margin-top: 3vw;
}
.left__title{
    font-weight: bold;
}

.left__title, .right__title{
    font-size: 1.1em;
}

.left__decors{
   display: flex;
   flex-wrap: wrap;
   width: 600px;
   margin-top: 30px;
}
.decor{
  border: 1px solid white;
    padding: 5px;
    width: 140px;
    margin: 5px;
    background: white;
}

.decor__img{
   width: 100%;
    height: 120px;
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.decor__name{
    margin: 5px;
    color: rgba(0, 0, 0, 0.452);
    font-size: 0.7em;
    text-align: center;padding: 0 10px;
}


.menu__right{
    width: 85%;
    margin-top: 3vw;
    padding-left: 50px;
  
}



.right__title{
    font-weight: bold;
  
}



.right__slider{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
   
  
}


.slider__center{
    width: 100%;
    height: 600px;
  
    position: relative;
}



.slide{
    width: 100%;
    height: 100%;
    background-size: 600px;
    background-repeat: no-repeat;
  
    position: absolute;
    animation-name: imageAnimation;
    animation-duration: 0.3s;
}

.right__bottom{
    display: flex;
    font-size: 0.7em;
  
}





@media (max-width: 1080px){
    
    .menu__body{
        justify-content: flex-start;
    }

    .left__decors{
        display: block;
    }
    .right__bottom{
      width: 110%;
    }
}
@media (max-width: 970px){
    .right__bottom{
        width: 100%;
      }
}

@media (max-width: 850px){
    .menu__body{
        flex-direction: column;
    }
    .left__decors{
        display: flex;
        justify-content: center;
    }
    .menu__right{
        width: 100%;
    }
    
    .right__slider{
        margin: 3vw auto;
        height: 60vw;
    }
    .slider__center{
        height: 100%;
    }
    .right__bottom{
        margin-left: 0;
        justify-content: space-around;
    }
    .slide{
        background-size: 100%;
    }
}
@media (max-width: 620px){
    .right__bottom{
        flex-direction: column-reverse;
    
    
    }    
.right__title{
    margin-left: 0;
    font-size: 8vw;
}
    
}





@media (max-width: 545px){
  

    .left__title{
        margin-left: 50px;
    }

    .decor{
        width: 200px;
    }
    .decor__img{
        height: 169px;;
    }
    .menu__left{
        padding: 0;
    }
}