.footer{
  
  margin-top: 90px;
  
}

.footer__left{
   height: 100%;
    width: 50%;
    background: linear-gradient(#4D4D4D, rgb(0, 0, 0));
  color: white;
  font-size: 30px;
  
  padding-left: 50px;
}
.left__title{
  background: url('../images/logo_smart_panel_biale.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 400px;
  padding-top: 290px;
 
  
}
.left__description{
  margin-top: 0px;
  
}

.block{
  
}