.hero{
    display: flex;
   justify-content: space-between;
   width: 100%;
   margin: 30px auto;
}

.hero__content{
    display: flex;
   margin: 0 auto;
    width: 85%;
   
}

.hero__left{
    
   
    position: relative;
    width: 50%;
   
}

.slides{

height: 100%;
position: relative;


}
.slide{
    height: 100%;
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: center;
    animation-name: imageAnimation;
    animation-duration: 1s;
}
.slide1{
    background-image: url('../images/walls.jpg');
    display: block;
    

}
.slide2{
    background-image: url('../images/horns.jpg');
    display: none;
  
}
.slide3{
    background-image: url('../images/relitex.jpg');
    display: none;
   
}
.slide4{
    background-image: url('../images/kitchen.jpg');
    display: none;
   
}
.slide__active{
    display: block;
}
.left__selectors{
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: 20px auto;
   
   
}

.selector{
    width: 30px;
    height: 30px;
    background: rgb(202, 201, 201);
    border-radius: 50%;
    transition: background 0.3s;
    cursor: pointer;
}
.selector__active{
    background: rgb(116, 115, 115);
}
.hero__right{
   overflow: hidden;
  width: 80%;
    height:600px;
    align-items: center;
}

.texts{
    position: relative;
   
}

.text{
    position: absolute;
   max-height: 500px;
   animation-name: textAnimation;
   animation-duration: 1s;
}

.text1{
    display: block;
}

.text2{
    display: none;
}
.text3{
    display: none;
}
.text4{
    display: none;
}

.right__title{
   margin-top: 20px;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
   height: 180px;
    
}

.right__title3{
    font-size: 150px;
   
}

.right__title4{
    font-size: 50px;
    text-align: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}
.title__number{
    font-size: 200px;
}
.right__description{
  font-size: 25px;
  margin-left: 40px;
  height: 60px;
  margin-top: 20px;
}
.right__button{
    background:  #ffffff;
    border: none;
    color: #006451;;
    width: 300px;
    height: 70px;
    border: 2px solid #006451;;
    margin-left: 40px;
    margin-top: 90px;
    font-size: 25px;
    cursor: pointer;
    transition-duration: 0.3s;
    transition-property: color background
}
.right__button:hover{
    background: #006451;
    color: white;
}
.button1{
    color: white;
    background: #006451;
}
.button1:hover{
    color: #006451;
    background: white;
}

.line{
    background:  #006451;
    height: 2px;
    width: 500px;
    margin-left: 40px;
    margin-top: 6vw;
}
.arrow__image{
   
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.arrow{
    display: flex;
    align-items: center;
}



.left{
    background: url(../images/arrowLeft.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.right{
    background: url(../images/arrowRight.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.left__selectors--mobile{
    display: none;
}
.hero__bottom{
    display: none;
}

@keyframes imageAnimation {
    0%{
        opacity: 0;
       transform: translateX(-100px);
       
    }

    100%{
        opacity: 1;
        transform: translateX(0px)
    }
}
@keyframes textAnimation {
    0%{
        opacity: 0;
       transform: translateX(100px)
    }

    100%{
        opacity: 1;
        transform: translateX(0px)
    }
}


@media (max-width: 900px) {
    .hero__right{
        height: auto;
    }
    .texts{
        height: 510px;
    }
    .hero__content{
        display: block;
        width: 100%;
    }
    .hero__left{
        height: 300px;
        width: 100%;
    }
    .hero__right{
        width: 100%;
    }
    .left__selectors{
        display: none;
    }
    .left__selectors--mobile{
        display: block;
        display: flex;
        width: 300px;
    }
    .arrow__left, .arrow__right{
        display: none;
    }
    .hero__bottom{
        display: flex;
        justify-content: none;
        margin: 0 auto;
        width: 80%;
        align-items: center;
    }
}


@media (max-width: 700px) {

    
   
    .text{
        text-align: center;
    }
   
    .right__title{
        height: auto;
    }
    .title__number{
        
    }

    .right__description{
       height: auto;
       margin-left: 0px;
       margin-top: 2vw;
       padding: 0 10px;
      }

      .right__button{
         margin-top: 5vw;
       margin-left: 0;
       
      }
      .line{
          width: 90%;
      }
      
}


@media (max-width: 560px) {
    .hero__left{
        height: 200px;
    }
    .hero__bottom{
        width: 95%;
    }
    .texts{
        height: 400px;;
    }
    .right__title{
     font-size: 10vw;
    }
    .right__title4{
        font-size: 8vw;
       }
    
    .title__number{
        font-size: 20vw;
    }

    .right__button{
        width: 272px;
        height: 58px;
    }
    .arrow__image {
        height: 38px;
       
    }

    .selector {
        width: 25px;
        height: 25px;
       
    }
    .left__selectors--mobile {
       
        width: 235px;
    }
    .line{
        margin-left: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .right__title4{
        width: auto;
    }
    
}

@media (max-width: 400px) {
    .texts{
        height: 320px;
    }
    .right__description{
        font-size: 21px;
    }
    .right__title3{
        font-size: 15vw;
    }
}

@media (max-width: 320px) {
    .right__button {
        width: 252px;
        height: 46px;
    }

    .left__selectors--mobile {
        width: 170px;
    }
    .selector {
        width: 19px;
        height: 19px;
    }
    .arrow__image {
        height: 30px;
    }
    .texts {
        height: 330px;
    }
}

@media (max-width: 280px) {
    .right__button {
        width: 80%;
        height: 16vw;
    }

    .left__selectors--mobile {
        width: 170px;
    }
    .selector {
        width: 19px;
        height: 19px;
    }
    .arrow__image {
        height: 30px;
    }
    .texts {
        height: 330px;
    }
}

@media (max-width: 245px) {
    .right__description{
        font-size: 20px;
        padding: 0;
    }
}