*{
  margin: 0;
  padding: 0;

}

@font-face {
  font-family: 'Gothic';
 
  src: url(../fonts/gothic-bold.ttf); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'Regular';
 
  src: url(../fonts/gothic-regular.ttf); /* IE9 Compat Modes */
}

div, p, button {
  font-family: 'Regular'
}
.title, a{
  font-family: 'Gothic';
}