*{
  margin: 0;
  padding: 0;

}

@font-face {
  font-family: 'Gothic';
 
  src: url(../fonts/gothic-bold.ttf); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'Regular';
 
  src: url(../fonts/gothic-regular.ttf); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'Gilroy';
 
  src: url(../fonts/Gilroy-Light.otf); /* IE9 Compat Modes */
}


div, p, button {
  font-family: 'Regular'
}
.title, a{
  font-family: 'Gothic';
}

ol a{
  font-family: 'Regular'
}

.gilroy{
  font-family: 'Gilroy'
}

.mont__content{
  text-align: center;
  margin-top: 5vw;

}
.mont__content a{
  color: black;
  font-size: 25px;

}
.mont__walls4you{
 
  width: 50%;
}

@media (max-width: 750px) {
  .mont__walls4you{
 
    width: 100%;
  }
}