.main__line{
    background: #006451;
    height: 2px;
    margin: 0 auto;
  
    width: 90%;

}
.blur{
    position: fixed;
    width: 100%;
    height: 100vw;
    background: rgba(0, 0, 0, 0.63);
    display: none;
    z-index: 50;
    top: 0;
    animation-name: blur;
    animation-duration: 0.3s;
}
.blur__active{
    display: block;
}

@keyframes blur{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.navigation{
  
    background: white;
}
.navigation__bot, .navigation__top, .main__line{
    position: relative;
    z-index: 100;
}
.navigation__top{
    
    display: flex;
    justify-content: flex-end;
    background: black;
    color: white;
    height: 75px;
    align-items: center;
}

.number__icon{
    background: url(../images/teleWhite.png) center no-repeat;
}
.email__icon{
    background: url(../images/mailWhite.png) center no-repeat;
}

.number__icon, .email__icon{
    
    background-size: 80%;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.email, .number{
    display: flex;
    margin-right: 20px;
}
.navigation__bot{
    display: flex;
    height: 90px;
    padding: 2vw 0;
    background: white;
}

.logo__container{
    width: 30%;
    
}
.logo{
    background: url(../images/logo_i_napis.png) center no-repeat;
    background-size: 100%;
    height: 100%;
    width: 90%;
    margin-left: auto;
}
.links{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.links a{
    text-decoration: none;
    color: black;
    font-size: 24px;
}
.navigation__wrapper{
   
    display: flex;
    height: 0;
    overflow: hidden;
    transition: height 0.3s;
    position: absolute;
    z-index: 100;
}
.active__wrapper{
    height: 240px;
}
.wrapper__right{
    background: #006451;
    width: 300px;
}
.wrapper__button{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    cursor: pointer;
    background: white;
}
.wrapper__button:hover{
    background: #006451;;
    color: white;
}
.wrapper__button p:nth-child(2){
    margin-left: 25px;
}
.right__links{
    display: none;
}
.forestia__walls{
   
}

@media (max-width: 1000px) {
    .navigation__bot{
        flex-direction: column;
        height: auto;
    }
    .logo__container{
        height: 80px;
        width: 400px;
        margin: 0 auto;
    }
    .links{
        margin: 2vw auto;
        width: 100%;

    }
}

@media (max-width: 680px) {

}