.main__line{
    background: #006451;
    height: 2px;
    margin: 0 auto;
  
    width: 90%;

}
.blur{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.63);
    display: none;
    z-index: 50;
    top: 0;
    animation-name: blur;
    animation-duration: 0.3s;
}
.blur__active{
    display: block;
}

@keyframes blur{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.navigation{
  
    background: white;
}
.navigation__bot, .navigation__top, .main__line{
    position: relative;
    z-index: 100;
}
.navigation__top{
    
    display: flex;
    justify-content: flex-end;
    background: black;
    color: white;
    height: 75px;
    align-items: center;
}

.number__icon{
    background: url(../images/teleWhite.png) center no-repeat;
}
.email__icon{
    background: url(../images/mailWhite.png) center no-repeat;
}

.number__icon, .email__icon{
    
    background-size: 80%;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.email, .number{
    display: flex;
    margin-right: 20px;
}
.navigation__bot{
    display: flex;
    height: 138px;
    padding: 2vw 0;
    background: white;
}

.logo__container{
    width: 30%;
    
}
.logo{
    background: url(../images/logo_i_napis.png) center no-repeat;
    background-size: 100%;
    height: 100%;
    width: 90%;
    margin-left: auto;
}
.links{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.links a{
    text-decoration: none;
    color: black;
    font-size: 24px;
}
.navigation__wrapper{
   
    display: flex;
    height: 0;
    overflow: hidden;
    transition: height 0.3s;
    position: absolute;
    z-index: 100;
    left: 43vw;
}
.active__wrapper{
    height: 300px;
}
.wrapper__right{
    background: #006451;
    width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0;
    overflow: hidden;
    transition: width 0.3s;
}
.wrapperRight__active{
    width: 211px;
    padding: 0 10px;
}
.wrapper__right a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 5px 0;
    text-align: center;
}
.wrapper__button{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    cursor: pointer;
    background: white;
}
.wrapper__button:hover{
    background: #006451;;
    color: white;
}
.wrapper__button p:nth-child(2){
    margin-left: 25px;
}
.right__links{
    display: none;
    width:auto;
    flex-direction: column;
}
.forestia__walls{
   
}
.hamburger__icon{
    background: url(../images/hamburger.png) center no-repeat;
    background-size: 100%;
    height: 50px;
    width: 50px;
    display: none;
}
.mobile__wrapper{
    position: relative;
}
.mobile__products{
    display: none;
}

@media (max-width: 1000px) {
    .navigation__bot{
        flex-direction: column;
        height: auto;
    }
    .logo__container{
        height: 80px;
        width: 400px;
        margin: 0 auto;
    }
    .links{
        margin: 2vw auto;
        width: 100%;

    }
}

@media (max-width: 680px) {
    .hamburger__icon{
        display: block;
    }
    .links{
        position: absolute;
       background: white;
       flex-direction: column;
     margin: 0;
       z-index: 100;
       height: 0;
       overflow: hidden;
       transition: opacity 0.3s;
       opacity: 0;
    }
    .mobileWrapper__active{
        height: auto;
        opacity: 1;
    }
    .links a{
        padding-bottom: 15px;
    }
    .navigation__bot{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    }
    .logo__container{
        margin: 0;
    }
    .logo{
        margin: 0;
    }
    .links__product{
        position: relative;
    }
    .mobile__products{
        display: block;
        position: relative;
        width: 100%;
        margin: 0 auto;
    }
    .navigation__wrapper{
        left: 0;
        position: relative;
        width: 100%;
    }
    .wrapper__button{
        width: 50vw;
        padding: 20px 5px;
        justify-content: space-evenly;
    }
    .wrapper__button p:nth-child(2) {
        margin-left: 0;
    }
    .wrapper__right{
        width: 0vw;
    }
    .wrapperRight__active{
        width: 50vw;
    }
    .wrapper__right a{
        text-decoration: none;
        color: white;
        font-size: 18px;
        margin: 0px 0;
        text-align: center;
    }
}

@media (max-width: 430px) {
    .wrapper__button{
        font-size: 4vw;
    }
    .wrapper__button p:nth-child(2) {
        display: none;
    }
    .wrapper__right a{
        font-size: 4vw;
    }
}

@media (max-width: 400px) {
    .navigation__top{
        flex-direction: column;
        height: auto;
    }
    .number {
        padding-top: 10px;
    }
    .email{
        padding-top: 5px;
        padding-bottom: 10px;
    }
    .navigation__bot{
        flex-direction: column;
    }
    .logo{
        margin: 0 auto;
        background-size: 90vw;
    }
    .hamburger__icon{
        width: 12vw;
        height: 12vw;
    }
}