.productView{
    display: flex;
    margin-top: 5vw;
}

.left{
    width: 50%;
    position: relative;
    text-align: center;
    margin: 0 auto;
}
.left img{
    width: 81%;
    max-height: 500px;
    
}

.right{
    width: 50%;
    text-align: center;
    margin: 0 auto;
}
.right p:nth-child(1){
    font-size: 25px;
    font-weight: bold;
}

.right p:nth-child(2){
    margin-top: 10px;
    font-size: 18px;
}

@media (max-width: 490px) {
    .productView{
        display: block;
        width: 90%;
        margin: 5vw auto;
    }
    .left{width: 70%;}
    .right{
        width: 90%;
        margin-top: 5vw;
    }
}