.productView{
    display: flex;

}

.left{
    width: 50%;
}

.right{
    width: 50%;
}
.right p:nth-child(1){
    font-size: 25px;
}

.right p:nth-child(2){
    margin-top: 10px;
    font-size: 18px;
}