.walls4youProduct{
  
}
.back{
    width: 200px;
    height: 60px;
    background: rgb(255, 255, 255);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    transition: all 0.3s;
}

.back:hover{
    background: black;
    color: white;
}

.menu{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.block{

    width: 200px;
    height: 80px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:23px;
    cursor: pointer;
    transition: all 0.3s;

}
.board{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  
   width: 80%;
    overflow-y: auto;
    height: 60vh;
    margin: 0 auto;
    margin-top: 60px;
}

.panel{
    position: relative;
    margin: 10px 20px;
   
}
.panel__img{
   
}

.panel__button{
    width: 30px;
    height: 30px;
    background: url(../images/loupe.png) center no-repeat;
    background-size: 100%;
    position: absolute;
    right: 0px;
    cursor: pointer;
    border-bottom-left-radius: 50%;
    opacity: 0.8;

}

.block:hover{
   background: black;
   color: white;
}

@media (max-width: 700px) {
    .menu{
        padding-top: 5vw;
        justify-content: space-between;
    }
    .block{
        border: none;
    }
    .block:nth-of-type(1){
        border-right: 2px solid black;
    }
    .block:nth-of-type(3){
        border-left: 2px solid black;
    }
}

@media (max-width: 360px) {
.block{
    font-size: 6vw;
}
}